.main__content {
  max-width: 1200px;
  height: calc(100vh - 300px);
  display: flex;
  margin: 0 auto;
  background-color: #2e3331;
  border: 2px solid #3c5d4c;
  border-radius: 16px;
  position: relative;
}

@media (max-width: 800px) {
  .main__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
