/** MainBar component  **/
.mainBar__mainBar {
  flex: 3;
  padding: 0.5rem;
  color: #e5d38c;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.mainBar__picture {
  display: flex;
  gap: 3rem;
  padding: 0.5rem;
  align-content: center;

  background-color: #374940;
  border-radius: 16px;
}
.mainBar__picture h3 {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.mainBar__picture img {
  height: auto;
  width: 100px;
  border-radius: 16px;
  filter: drop-shadow(1px 1px 5px #e5d38c);
}

.mainBar__info {
  padding: 0.5rem;
  border-radius: 16px;
  background-color: #374940;
}

@media (max-width: 800px) {
  .mainBar__info p {
    font-size: 0.7rem;
  }
  .mainBar__picture h3 {
    font-size: 1.5rem;
  }
}
