.content {
  max-width: 1200px;
  height: calc(100vh - 300px);
  display: flex;
  margin: 0 auto;
  background-color: #2e3331;
  border: 2px solid #3c5d4c;
  border-radius: 16px;
  position: relative;
}

.arrow {
  position: fixed;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #e5d38c;
}
.arrow button {
  background-color: #3c5d4c;
  color: #e5d38c;
  border: #3c5d4c;
  border-radius: 16px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .arrow {
    top: 27%;
  }
}
