/** SideBar component  **/

.sideBar__sidebar {
  flex: 1;
  padding: 0.5rem;
  color: #e5d38c;
}

.sideBar__content {
  background-color: #374940;
  padding: 0.5rem;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sideBar__content h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sideBar__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {
  .sideBar__content {
    gap: 0.5rem;
    font-size: 0.7rem;
  }
  .sideBar__content h2 {
    font-size: 1.2rem;
  }
}
